.details {
  margin-bottom: 15px;
}

.summary {
  color: #6c757d;
  font-size: 15px;
  font-weight: 700;
}

.channel,
.published,
.author {
  color: #6c757d;
  margin-bottom: 3px;
  margin-top: 4px;
  font-size: 12px;
}

.channel > span,
.published > span,
.author > span {
  font-weight: 700;
}
