.search-button {
  margin-right: 35px;
  background-color: rgb(60, 159, 225);
  padding: 20px;
}

.search-box {
  display: block;
  justify-content: space-between;
  position: fixed;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.5s ease;
  padding: 20px;
}
